.Header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #121765;
  padding: 20px 10px;
  box-sizing: border-box;

  @media screen and (min-width: 576px) {
    padding: 20px 40px;
  }

  img {
    height: 40px;
  }

  .user {
    display: flex;
    align-items: center;
    .username {
      margin: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
      width: calc(100vw - 260px);

      @media screen and (min-width: 576px) {
        width: auto;
      }
    }
  }
}
